:root {
    --bg-color: #ffffff;
    --text-color: #000;
    --card-bg: #f4f4f4;
    --accent: #1e40af;
}

.dark-mode {
    --bg-color: #121212;
    --text-color: #fff;
    --card-bg: #1e1e1e;
    --accent: #fbbf24;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    transition: 0.3s;
    font-family: Arial, sans-serif;
}


.header-bar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--bg-color);
    border-bottom: 1px solid #bfbfbf;
    padding: 0 20px;
    z-index: 9999;
}

.craigslist-logo img {
    width: 140px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.user {
    text-align: center;
}

.user img {
    width: 50px;
    border-radius: 50%;
    padding: 6px;
    background: var(--card-bg);
}


.theme-btn {
    background: var(--accent);
    color: #fff;
    padding: 10px 18px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}


.page-title {
    padding-top: 130px;
    text-align: center;
    margin-bottom: 30px;
}

.page-title h1 {
    font-size: 35px;
    color: #a1049adc;
}


.listing-container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 25px;
}

.listing-card {
    background: var(--card-bg);
    border-radius: 12px;
    padding: 10px;
    transition: 0.3s;
}

.listing-card:hover {
    transform: scale(1.03);
}

.listing-img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 10px;
}

.listing-info {
    padding: 10px;
}

.listing-info h3 {
    margin-bottom: 5px;
    font-size: 20px;
}

.location {
    opacity: 0.7;
}

.price {
    font-weight: bold;
    margin: 8px 0;
}

.view-btn {
    background: var(--accent);
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

.view-btn:hover {
    opacity: 0.85;
}


