

:root {
    --bg-color: #ffffff;
    --text-color: #000;
    --card-bg: #f4f4f4;
    --accent: #1e40af;
}


.dark-mode {
    --bg-color: #121212;
    --text-color: #ffffff;
    --card-bg: #1e1e1e;
    --accent: #fbbf24;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    transition: 0.3s;
}


.header-bar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--bg-color);
    border-bottom: 1px solid #bfbfbf;
    padding: 0 20px 30px;
    z-index: 9999;
}

.craigslist-logo img {
    width: 140px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.user {
    position: fixed;   
    top: 6px;
    right: 160px;      
    text-align: center;
    z-index: 1000;
}

.user img {
    width: 50px;
    height: auto;
    border-radius: 50%;
    padding: 6px;
    background: var(--card-bg); 
    transition: 0.3s;
}

.user:hover img {
    transform: scale(1.1);
}


.theme-btn {
    position: fixed;   
    top: 20px;
    right: 20px;
    background: var(--accent);
    color: #fff;
    padding: 10px 18px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    z-index: 1000;
}

.theme-btn:hover {
    opacity: 0.9;
}


.sticky-wrapper {
    position: sticky;
    top: 85px;
    background: var(--bg-color);
    z-index: 999;
    padding: 10px 0;
}


.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    padding-top: 40px;;
}

.nav-item {
    text-align: center;
    position: relative;
}

.nav-item img {
    width: 75px;
    height: 75px;
    transition: 0.3s;
}

.nav-item:hover img {
    transform: scale(1.1);
}

.divider {
    width: 2px;
    height: 80px;
    background: var(--text-color);
    opacity: 0.4;
}


.dropdown {
    display: none;
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--card-bg);
    border: 1px solid #aaa;
    border-radius: 10px;
    min-width: 150px;
    padding: 10px 0;
    z-index: 5;
}

.dropdown a {
    display: block;
    padding: 10px;
    color: var(--text-color);
    text-decoration: none;
}

.dropdown a:hover {
    background: #a5018a;
}

.nav-item:hover .dropdown {
    display: block;
}


.search-wrapper {
    margin-top: 160px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.search-wrapper input {
    width: 300px;
    padding: 12px;
    border-radius: 10px;
    border: 2px solid #c400a3;
}

.search-wrapper button {
    padding: 12px 20px;
    background: #c400a3;
    border: none;
    color: white;
    border-radius: 10px;
}

.search-wrapper button:hover {
  background: #0061f1;
  transform: scale(1.05);
}


.footer {
    background: var(--card-bg);
    margin-top: 80px;
    padding: 50px 0 25px;
    color: var(--text-color);
    border-top: 1px solid rgba(180, 180, 180, 0.2);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1400px;
    margin: auto;
    gap: 40px;
}

.footer-column {
    min-width: 180px;
    flex: 1;
}

.footer-column h3 {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: bold;
}

.footer-column a {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    opacity: 0.75;
    margin-bottom: 10px;
    transition: 0.3s;
    font-size: 15px;
}

.footer-column a:hover {
    opacity: 1;
    color: var(--accent);
}

.footer-column p {
    font-size: 15px;
    opacity: 0.75;
    margin-bottom: 15px;
}

.contact-button {
    background: var(--accent);
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.contact-button:hover {
    opacity: 0.85;
}

/* Footer bottom */
.footer-bottom {
    text-align: center;
    margin-top: 35px;
    opacity: 0.6;
    font-size: 14px;
}

/* Responsive Footer */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    .footer-column {
        min-width: 100%;
    }
}






